/* src/styles/adventuresPage.module.css */
.section_whitebg {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden; /* Ensure no overflow */
}

.section_banbasbg {
    display: flex;
    flex-direction: column;
    background-color: var(--color-banbas);
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden; /* Ensure no overflow */
}

.section_slider {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden; /* Ensure no overflow */
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.sliderContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-height: 500px;
    width: 90vw;
}

.sectionHeaderTextError {
    font-size: 2rem;
    color: #c03b19;
    font-weight: 300;
    letter-spacing: -1px;
    font-family: var(--font-noto-serif);
}

.sectionHeaderTextWaiting {
    font-size: 2rem;
    color: #A06320;
    font-weight: 300;
    letter-spacing: -1px;
    font-family: var(--font-noto-serif);
}

.sectionHeaderTextSuccess {
    font-size: 2rem;
    color: var(--color-banbas);
    font-weight: 300;
    letter-spacing: -1px;
    font-family: var(--font-noto-serif);
}


.sectionBodyText {
    font-size: 1.5rem;
    color: #1E1E1E;
    letter-spacing: -0.1px;
    font-weight: 200;
    line-height: 2.5rem;
    font-family: var(--font-banbas-200);
}

@media (max-width: 1025px) {

    .section_whitebg {
        min-height: auto;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .section_banbasbg {
        min-height: auto;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .section_slider {
        min-height: auto;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .imageContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        width: 90%;
    }
    
    .sliderContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        max-height: 500px;
        width: 90vw;
    }

    .sectionHeaderText {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: -1px;
    }

    .sectionBodyText {
        font-size: 1.2rem;
        color: #1E1E1E;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 1.6rem;
    }
}

@media (max-width: 448px) {

    .sectionHeaderText {
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: -1px;
    }

    .sectionBodyText {
        font-size: 1.2rem;
        color: #1E1E1E;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 1.6rem;
    }

}