/* src\app\components\Navbar.module.css */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: transparent;
    z-index: 3;
}

.navTop {
    display: inline-flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

.logoContainerLargeScreen {
    display: block;
    cursor: pointer;
    z-index: 4;
}

.logo {
    width: 320px;
    height: 100px;
    z-index: 4;
}

.logoContainerMobile {
    display: none;
    cursor: pointer;
    z-index: 4;
}

.logoLinkText {
    text-decoration: none;
    color: black;
}

.reserveButtonContainer {
    align-content: center;
    cursor: pointer;
    z-index: 3;
}

.reserveButton {
    background-color: transparent;
    color: #F7F3ED;
    border: 1px solid #F7F3ED;
    padding: 16px 24px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    z-index: 3;
    letter-spacing: 1px;
    transition: 0.3s;
}

.reserveButton:hover {
    background-color: #F7F3ED;
    color: #134939;
}


.navLinksContainer {
    grid-column-gap: 48px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.navLink {
    margin: 0 1rem;
    cursor: pointer;
    color: #F7F3ED;
    text-decoration: none;
    z-index: 3;
    font-family: var(--font-banbas);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    transition: box-shadow .3s;
    letter-spacing: 2px;
}

.navLink:hover {
    text-decoration: underline;
}

.navTriggerContainer {
    display: block;
}

.navTrigger {
    display: none;
    width: 30px;
    min-width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.navSpan {
    background-color: #302e2b;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.navMid {
    top: 9px;
}

.navBot {
    top: auto;
    bottom: 0;
}

.navClose {
    display: none;
    cursor: pointer;
}



@media (max-width: 924px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        background-color: #F7F3ED;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 3;
        height: 82px;
    }

    .navTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navTriggerContainer {
        display: block;
        align-content: center;
        padding-left: 24px;
        padding-right: 24px;
    }

    .navTrigger {
        display: block;
        z-index: 2;
    }

    .logoContainerLargeScreen {
        display: none;
    }

    .logo {
        display: none;
    }

    .logoContainerMobile {
        display: block;
        align-items: center;
        padding-left: 20px;
    }

    .banbasLogoText {
        font-family: var(--font-banbas);
    }

    .reserveButtonContainer {
        align-content: center;
    }

    .reserveButton {
        background-color: transparent;
        padding: 12px 0px;
        padding-right: 10px;
        color: black;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 2.8px;
        font-weight: 600;
        z-index: 3;
    }

    .reserveButton:hover {
        background-color: transparent;
        color: black;
    }

    .navLinksContainer {
        display: none;
    }

    .navClose {
        display: block;
        align-self: flex-end;
        margin: 1rem;
    }
}

@media (max-width: 778px)  {
    .nav {
        height: 62px;
    }
}