/* src/components/gallery/Collage.module.css */
.section {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden; /* Ensure no overflow */
}

.collageContainer {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-gap: 10px;
}

.cell {
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

.img1 { grid-row: 1 / 3; grid-column: 1 / 2; }
.img2 { grid-row: 1 / 3; grid-column: 2 / 5; }
.img3 { grid-row: 1 / 2; grid-column: 5 / 7; }
.img4 { grid-row: 2 / 4; grid-column: 5 / 7; }
.img5 { grid-row: 3 / 6; grid-column: 3 / 5; }
.img6 { grid-row: 3 / 5; grid-column: 1 / 3; }
.img7 { grid-row: 4 / 6; grid-column: 5 / 7; }
.img8 { grid-row: 5 / 6; grid-column: 1 / 3; }
.img9 { grid-row: 6 / 8; grid-column: 1 / 4; }
.img10 { grid-row: 6 / 8; grid-column: 4 / 6; }
.img11 { grid-row: 6 / 8; grid-column: 6 / 7; }
.img12 { grid-row: 8 / 10; grid-column: 4 / 7; }
.img13 { grid-row: 8 / 10; grid-column: 1 / 4; }
.img14 { grid-row: 10 / 12; grid-column: 1 / 2; }
.img15 { grid-row: 10 / 12; grid-column: 2 / 5; }
.img16 { grid-row: 10 / 12; grid-column: 5 / 7; }

@media(max-width:600px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(20, 1fr);
    }
    .img1 { grid-row: 1 / 2; grid-column: 1 / 3; }
    .img2 { grid-row: 2 / 3; grid-column: 1 / 3; }
    .img3 { grid-row: 3 / 4; grid-column: 1 / 3; }
    .img4 { grid-row: 4 / 5; grid-column: 1 / 3; }
    .img5 { grid-row: 5 / 6; grid-column: 1 / 3; }
    .img6 { grid-row: 6 / 7; grid-column: 1 / 3; }
    .img7 { grid-row: 7 / 8; grid-column: 1 / 3; }
    .img8 { grid-row: 8 / 9; grid-column: 1 / 3; }
    .img9 { grid-row: 9 / 10; grid-column: 1 / 3; }
    .img10 { grid-row: 10 / 11; grid-column: 1 / 3; }
    .img11 { grid-row: 11 / 12; grid-column: 1 / 3; }
    .img12 { grid-row: 12 / 13; grid-column: 1 / 3; }
    .img13 { grid-row: 13 / 14; grid-column: 1 / 3; }
    .img14 { grid-row: 14 / 15; grid-column: 1 / 3; }
    .img15 { grid-row: 15 / 16; grid-column: 1 / 3; }
    .img16 { grid-row: 16 / 17; grid-column: 1 / 3; }
}
